<script src="{{ "/assets/js/vendor/bootstrap/transition.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/bootstrap/affix.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/bootstrap/collapse.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/bootstrap/dropdown.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/bootstrap/modal.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/bootstrap/carousel.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/vendor/bootstrap-timepicker.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/spectrum.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/balihoo.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/vendor/holder.min.js" | prepend: site.baseurl }}"></script>
