<header class="container-fluid">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><img src="{{ "/assets/img/b-icon.png" | prepend: site.baseurl }}" alt="Balihoo"></a>
				<p class="navbar-text">Balihoo Style Library</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Getting Started <span class="badge">2</span></a></li>
				<li><a href="/elements">Elements</a></li>
				<li><a href="/preview">Preview</a></li>
			</ul>
		</div>
	</nav>
</header>
