////////////////////////////////////////////
/// These styles override bootstrap styles
/// which are not variable based in the
/// _variables.scss file
////////////////////////////////////////////

// Basic HTML Element Restyles
.table {
  thead {
    tr {
      background-color: $bhoo-light-gray;
      th {
        border-bottom: 2px solid darken($bhoo-light-gray, 5%);
      }
    }
  }
}

hr {
  margin: 10px 0;
}

///////////////////////////
// Balihoo Platform Modules
///////////////////////////

// Very Long Dropdowns
// .bh-dropdown-long {
// 	max-height: 500px;
// 	overflow-y: auto;
// 	overflow-x: hidden;
// }

// Navbar Modules
//
// Main Balihoo navbar
.navbar-bh-main {
  background-color: transparent;
  border-bottom: 2px solid $text-color;
  border-radius: 0;

  .navbar-header {
  	padding: 15px 0 30px;
  }

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
  	margin-top: 30px;
  	font-size: 18px;
    text-transform: uppercase;
    > li > a {
      color: $navbar-default-link-color;
      padding: 0 10px 0 8px;
      border-left: 2px solid $text-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > li:first-of-type > a {
    	border-left: none;
    }
    > li.bh-nav-item-small {
    	font-size: 14px
    }
    > li.bh-nav-help {
    	a {
    		border-left: none;
    	}
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
}
.bh-account-nav {
	> a {
		font-size: 12px;
		font-style: italic;
		color: lighten($text-color, 25%);
		text-transform: lowercase;
	}
	.navbar-bh-main .navbar-nav > & > a {
		color: lighten($text-color, 25%);
	}
}

// Panel Modules
.bh-panel {
	border-radius: 10px 0 10px 0;

	.panel-heading {
		background-color: #59595b;
		color: #ffffff;
		border-radius: 10px 0 0 0;
	}

	.panel-title {
		font-size: 30px;
	}
}

// Metric Modules
.bh-metric {
  text-align: left;
  font-size: 20px;
  color: #111;
  line-height: 0.8;
  text-indent: 5px;
  margin-top: 5px;
  margin-bottom: 0;
  @media (max-width: $screen-md-min) {
    font-size: 14px;
    text-indent: 4px;
  }

  .bh-metric-label {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
    margin-left: 28px;
    @media (max-width: $screen-md-min) {
      margin-left: 20px;
      font-size: 10px;
    }
  }
  &:before {
    content: '';
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    display: block;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    padding: 5px 0;
    text-align: center;
    text-indent: 0;
    font-size: 18px;
    margin-top: -5px;
    color: #fff;
    background-color: #999;
    border-radius: 4px;
    @media (max-width: $screen-md-min) {
      margin-top: 0;
      font-size: 12px;
      height: 20px;
      width: 20px;
    }
  }
  &.bh-metric-cost {
    &:before {
      content: '\e148';
      background-color: $brand-danger;
    }
  }
  &.bh-metric-impressions {
    &:before {
      content: '\e105';
      background-color: $brand-primary;
    }
  }
  &.bh-metric-clicks {
    &:before {
      content: '\e129';
      background-color: $brand-success;
    }
  }
  &.bh-metric-ctr {
    &:before {
      content: '\e095';
      background-color: $brand-info;
    }
  }
  &.bh-metric-open {
    &:before {
      content: '\e105';
      background-color: $brand-info;
    }
  }
  &.bh-metric-sent {
    &:before {
      content: '\e171';
      background-color: $brand-warning;
    }
  }
}

// Utilities
.no-space-after {
  margin-bottom: 0 !important;
}
