---
---

body {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
img {
	max-width: 100%;
}
pre {
	-moz-tab-size: 2;
	-o-tab-size:   2;
	tab-size:      2;
}

.bh--form-example {
	margin: 30px 0;
}

.bh--modal-example {
	display: block;
	position: static;
	opacity: 1;

	.modal-dialog {
		transform: none !important;
	}
}
.bs-docs-section {
	margin: 0 0 200px;
}
.container {
	position: relative;
}
.sidebar-nav {
	-moz-transition: top 1s ease;
	-o-transition: top 1s ease;
	-webkit-transition: top 1s ease;
	transition: top 1s ease;
}
.sidebar-nav.affix-top {
	position: static;
}
.sidebar-nav.affix {
	position: fixed;
	top: 0px;
	width: 205px;
}
.preview-nav.affix {
	top: 20px;
	width: 126.656px;
}
.sidebar-nav.affix-bottom {
	position: fixed;
	top: -50%;
	width: 205px;
}
